apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'https://traefik.github.io/charts'
    chart: traefik
    targetRevision: 34.4.1
    helm:
      valueFiles:
        - $values/traefik/values.yaml
  sources:
    - repoURL: 'https://traefik.github.io/charts'
      chart: traefik
      targetRevision: 34.4.1
      helm:
        valueFiles:
          - $values/traefik/values.yaml
    - repoURL: 'https://github.com/andyleap-cluster/cluster.git'
      targetRevision: master
      ref: values
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: traefik
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
